body{
  font-family: 'Open Sans', Arial, Tahoma;
  font-weight: 400;
  font-size: 1em;
  color: #363636;
  background: #ededed;
}

header.container{
  margin-top: 80px;
  margin-bottom: 15px;
  background: #fff;
}

#photo-header{
  margin-top: -75px;
}
#photo{
  width: 160px;
  height: 160px;
  border-radius: 50%;
  overflow: hidden;
  padding: 5px;
  background: #ededed;
  display: inline-block;
}
#photo img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
#text-header h1{
  margin: 0;
  padding: 0;
  font-size: 2.4em;
  font-weight: 700;
  letter-spacing: -1px;
}
#text-header h1::first-line{
  font-size: 1.5em;
  letter-spacing: -4px;
  font-weight: 800;
  line-height: 1.5em;
}
#text-header h1 span{
  color: #F0563D;
}
#text-header h1 sup{
  opacity: 0.5;
}
#text-header hr{
  margin-top: 20px;
  margin-bottom: 20px;
}

#text-header:after{
  width: 100%;
  height: 3px;
  margin-top: 15px;
  content: '';
  display: block;
}

article.container{
  margin-bottom: 15px;
  background: #fff;
}

.box{
  margin-bottom: 20px;
}
.box h2{
  color: #EC7263;
  font-size: 1.8em;
  font-weight: 700;
}
.box h2:before{
  content: '//';
  margin-right: 5px;
}
.box p{
  font-size: 1.3em;
  line-height: 1.5em;
}

#education{
  margin-top: 20px;
  position: relative;
  padding: 1em 0;
  list-style: none;
}
#education:before {
  width: 5px;
  height: 100%;
  position: absolute;
  left: 25px;
  top: 0;
  content: ' ';
  display: block;
  background: #ec7263;
}
#education li{
  width: 100%;
  z-index: 2;
  position: relative;
  float: left;
}
#education .year{
  width: 10%;
  background: #fff;
  padding: 10px;
  font-size: 1.5em;
  font-weight: 700;
  display: inline-block;
}
#education .description{
  width: 80%;
  display: inline-block;
  background: #eee;
  margin-bottom: 10px;
  position: relative;
  padding: 10px 10px 0 10px;
  border-bottom: 1px solid #ddd;
}
#education .description:after {
  content: '';
  position: absolute;
  top: 15px;
  right: 0;
  left: -16px;
  height: 0;
  width: 0;
  border: solid transparent;
  border-right-color: #eee;
  border-width: 8px;
  pointer-events: none;
}
#education .description h3{
  font-size: 1.6em;
  margin: 0;
  padding: 0;
  font-weight: 700;
}
#education .description p{
  font-size: 1.3em;
  margin-top: 5px;
  padding: 0;
}

.search{
  margin-bottom: 15px;
}
.search .where{
  font-size: 1.4em;
  font-weight: bold;
}
.search .year{
  font-size: 1.3em;
  opacity: 0.7;
}
.search .skill{
  font-size: 1.6em;
  font-weight: bold;
}
.search .skill{
  font-size: 1.2em;
  line-height: 1.5em;
}


.contact-item{
  width: 100%;
  float: left;
}
.contact-item .icon{
  padding: 10px;
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  opacity: 0.2;
}
.contact-item:last-child .icon{
  border-bottom: none;
}
.contact-item .fa{
  font-size: 2em;
}
.contact-item .title{
  width: 80%;
  width: calc(100% - 55px);
  font-size: 1.5em;
  font-weight: 700;
  opacity: 0.9;
}
.contact-item .title.only{
  margin-top: 10px;
}
.contact-item .description{
  width: 80%;
  width: calc(100% - 55px);
  font-size: 1.2em;
  opacity: 0.7;
  margin-bottom: 10px;
}


.item-skills{
  height: 30px;
  background: #F0563D;
  color: #fff;
  padding: 5px 10px;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.3em;
  font-weight: 600;
}

.language-skills .skill{
  font-size: 1.3em;
  margin: 10px 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
